.posts {
  $gutter: (_size(gutter) * 2);
  margin: 0 0 _size(element-margin) ($gutter * -1);
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$gutter});

  article {
    flex-grow: 0;
    flex-shrink: 1;
    width: calc(#{(100% / 3)} - #{$gutter});
    margin: 0 0 $gutter $gutter;
    position: relative;

    > :last-child {
      margin-bottom: 0;
    }

    .image {
      display: block;
      margin: 0 0 _size(element-margin) 0;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}