#header {
    border-bottom: solid 5px #336699;
    padding: 6em 0 1em 0;
    position: relative;
    display: flex;

    >* {
        flex: 1;
        margin-bottom: 0;
    }

    .logo {
        color: inherit;
        font-size: 1.125em;
    }

    .icons {
        text-align: right;
        padding-left: 0;
    }


}