#header {
    border-bottom: solid 5px _color(accent);
    padding: 5em 0 1em 0;
    position: relative;
    display: flex;

    >* {
        flex: 1;
        margin-bottom: 0;
    }

    .logo {
        border-bottom: 0;
        color: inherit;
        font-family: _font(family-heading);
        font-size: 1.125em;
    }

    .icons {
        text-align: right;
        padding-left: 0;
    }


}