#main {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;

  > .inner {
    padding: 0 6em;
    margin: 0 auto;
    max-width: 110em;

    > section {
      padding: 6em 0;
      border-top: solid 2px _color(border);
      //todo
    }
  }
}